<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean id="accountDao" class="com.zcqzwy.springframework.bean.AccountDao"/>

  <bean id="accountService" class="com.zcqzwy.springframework.bean.AccountService">
    <property name="aId" value="10001"/>
    <property name="company" value="腾讯"/>
    <property name="location" value="深圳"/>
    <property name="accountDao" ref="accountDao"/>
  </bean>


</beans>